<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      
    <h1>Hello <strong> <%= @firstname %> </strong> , You have registered with dalendo successfully. </h1>
      
    <a href="<%= @linkforVerfication %>">Click Here to verify your email</a>
      
    <p>Thanks for registering with dalendo and have a great day!</p>
      
  </body>
</html>
