<div class="mini-slides-wrap">
	<div class="mini-slides text-center">
	 <h3>Lorem Ipsum is simply dummy </h3>
	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
	</div>
	<%= image_tag('mini_slide_bg.jpg', :alt => 'Login Here') %>
</div>

<div class="container iner-control">
	<div class="payment-box-outer">
		<div class="payment-title">
			<h2>Payment Confirmation</h2>
		</div>
		<div class="payment-box-inside">
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
			<div class="row">
			
				<div class="col-xs-12 col-sm-5 col-md-5 left-col-payment-confirm">
					<figure><%= image_tag('payment-confirm-picture.png', :alt => 'Payment confirmation') %></figure>
				</div>
				
				<div class="col-xs-12 col-sm-7 col-md-7 right-col-payment-confirm">
					<h2>Business loans</h2>
						<ul>
							<li>
								<div class="confirm-text-left">Full Name:</div>
								<div class="confirm-text-right">John Due</div>	
							</li>
							<li>
								<div class="confirm-text-left">Total Amount:</div>
								<div class="confirm-text-right">$ 3000</div>	
							</li>
							<li>
								<div class="confirm-text-left">Payment Mode:</div>
								<div class="confirm-text-right">Paypal</div>	
							</li>
							<li>
								<div class="confirm-text-left">Reward Selected :</div>
								<div class="confirm-text-right">Lorem ipsum dollar dummy text</div>	
							</li>
							<li>
								<div class="confirm-text-left">Shipping Address :</div>
								<div class="confirm-text-right">9872 Ocean St. <br/>Huntington Station, NY 11746</div>	
							</li>
							<li>
								<div class="confirm-text-left">Confirmation Email :</div>
								<div class="confirm-text-right">mailid@yourwebsite.com</div>	
							</li>
						</ul>	
				</div>
				
			</div>
			</div>
			</div>
			
			<div class="row choose-reward-btn-outer payment-confirm-btn-outer">
				  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				  	<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
						<span><a title="Back" class="btn btn-blue custom_btn" href="">BACK</a></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<span class="pull-right"><a title="Confirm" class="btn btn-blue custom_btn" href="">CONFIRM</a></span>
						</div>
						</div>
						</div>
					</div>
		</div>
	</div>
</div>
