<div class="mini-slides-wrap">
	<div class="mini-slides text-center">
	 <h3>Lorem Ipsum is simply dummy </h3>
	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
	</div>
	<%= image_tag('mini_slide_bg.jpg', :alt => 'Login Here') %>
</div>

<div class="container iner-control">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
		<div class="thankyou-page-main text-center">
			<div class="thankyou-tick-icon">
				<div class="thankyou-tick-icon-inner">
					<i class="fa fa-check" aria-hidden="true"></i>
				</div>
			</div>
			<div class="thankyou-main-image"><figure><%= image_tag('thankyou-page-image.png', :alt => 'Thankyou') %></figure></div>
			<div class="title">
				<h2>FOR CONTRIBUTION</h2>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus sit amet risus quis pulvinar. Duis venenatis sagittis orci, tincidunt sodales dui pulvinar at. Mauris sem urna, tincidunt quis orci non, </p>
			<h5>Invite a Friend to join us in our adventure</h5>
			<ul class="social-evt-btns">
										<li><a class="fb" href="javascript:;"><i class="fa fa-facebook"></i> Share</a></li>
										<li><a class="twt" href="javascript:;"><i class="fa fa-twitter"></i> Share</a></li>
										<li><a class="g-plus" href="javascript:;"><i class="fa fa-google-plus"></i> Share</a></li>
										<li><a class="lnkd-in" href="javascript:;"><i class="fa fa-linkedin"></i> Share</a></li>
										<li><a class="whtsapp" href="javascript:;"><i><%= image_tag('whats-app-icon.png', :alt => 'whatsapp') %></i> Share</a></li>
										<li><a class="sms-link" href="javascript:;"><i><%= image_tag('sms-social-icon.png', :alt => 'whatsapp') %></i> Share</a></li>
										<li><a class="skype-share" href="javascript:;"><i class="fa fa-skype"></i> Share</a></li>
										<li><a class="pint-rest" href="javascript:;"><i class="fa fa-pinterest"></i> Share</a></li>
									</ul>
			
		</div>
	</div>
</div>


</div>
