<div class="right-content-area">
       <div class="inner-pages-main">
       			<div class="payment-confir-hdr-part">
                	
                    	<div class="col-xs-12 col-sm-12 col-md-12">
                	<div class="heading-two"><h2>Payment Method Configuration</h2></div>
                    <ul class="payment-listing">
                    	<li class="active">
                        	<div class="method-inside">
                            	<div class="method-inside-txt">
                        		<%= image_tag ('pay-method-1.png'), :alt => "" %>
                            	<h5>Paypal</h5>
                            </div>
                            </div>
                        </li>
                        <li>
                        	<div class="method-inside">
                            	<div class="method-inside-txt">
                        		<%= image_tag ('pay-method-2.png'), :alt => "" %>
                            	<h5>Lemon Way</h5>
                            </div>
                            </div>
                        </li>
                        
                        <li>
                        	<div class="method-inside">
                            	<div class="method-inside-txt">
                        		<%= image_tag ('pay-method-3.png'), :alt => "" %>
                            	<h5>Ali Pay</h5>
                            </div>
                            </div>
                        </li>
                        
                        <li>
                        	<div class="method-inside">
                            	<div class="method-inside-txt">
                        		<%= image_tag ('pay-method-4.png'), :alt => "" %>
                            	<h5>Brain Tree</h5>
                            </div>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
            	<div class="heading-one"><h3>Paypal Payment Listing</h3>
                	</div>
       		<div class="table-responsive project-table-outer payment-method-table">
            	<table class="table">
                
                	<thead>
                	<tr>
                    	<th>Client Id</th>
                        <th>Secret Id</th>
                        <th>Account Holder Name</th>
                        <th>Email Id</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    	<td>D01S03AS</td>
                        <td>D01S03AS</td>
                        <td>Lorem ipsum</td>
                        <td>loremipsum@gmail.com</td>
                        <td><span class="btn-active">Active</span></td>
                        <td>
                        	<span class="tble-action-outer">
                            	<i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>
                        </td>
                    </tr>
                                       
                    
                    </tbody>
                </table>
                
            </div>
       </div>
        
   
    </div>