<div class="right-content-area">
       <div class="inner-pages-main">
       		<div class="inner-padding-all">
            	<div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
                    	<div class="inside-gray-bx">
                        	<div class="heading-two">
                            	<h2>Transaction Detail </h2>
                            </div>
                            
                            	<div class="view-badge-pic-outer text-center">
                                	<h5>Business Loans</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and 
typesetting industry. simply dummy text of the  and typese amt industry.</p>
								<span class="btn-active">Paid</span>
                                <ul class="list-group margin-top-30">
                                
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-right">Robert</span>
    First Name
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-right">Doe</span>
    Last Name
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-right">Donation</span>
    Project Category
  </li>
  
                                
  
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-right">$149.49 USD</span>
    Amount
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-right">Credit Card</span>
    Payment Mode
  </li>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-right">18/11/2016</span>
   Created At
  </li>
  
    <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-right">20$</span>
   Tax Paid
  </li>
  
    <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-right">123456</span>
   Transaction Id
  </li>
  
    <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-right">1597262</span>
   Recipt Id
  </li>
  
  
  
</ul>
                                 
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
       </div>
        
      
        
    </div>