<nav class="social">
<ul>
              <li><a href="http://facebook.com/gian.michelle">Facebook <i class="fa fa-facebook"></i></a></li>
			  <li><a href="http://facebook.com/gian.michelle">Linkedin <i class="fa fa-linkedin"></i></a></li>
			  <li><a href="http://facebook.com/gian.michelle">Google + <i class="fa fa-google-plus"></i></a></li>
			  <li><a href="http://twitter.com/gian_michelle">Twitter <i class="fa fa-twitter"></i></a></li>
			  <li><a href="http://dribbble.com/gian_michelle">Pinterest <i class="fa fa-pinterest"></i></a></li>
			  <li><a href="http://dribbble.com/gian_michelle">Globe <i class="fa svg_web_icone"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 44.7 37.8" style="enable-background:new 0 0 44.7 37.8;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#271b14;}
	.social li:hover .st0{fill:#fff;}
	.st0:hover{fill:#fff;}
	
</style>
<g id="XMLID_2_">
	<path id="XMLID_3_" class="st0" d="M28.6,29.3c0.2-0.2,0.4-0.2,0.6-0.2c0.2,0,0.4,0.1,0.6,0.2c0.2,0.2,0.2,0.3,0.2,0.6
		c0,0.2-0.1,0.4-0.2,0.6c0,0-0.2,0.2-0.5,0.4c-0.3,0.2-0.8,0.5-1.4,0.8c-0.6,0.3-1.4,0.6-2.3,0.8c-0.9,0.2-2,0.4-3.3,0.4
		c-1.3,0-2.4-0.1-3.3-0.4c-0.9-0.2-1.7-0.5-2.3-0.8c-0.6-0.3-1-0.6-1.3-0.8c-0.3-0.3-0.4-0.4-0.4-0.4c-0.2-0.2-0.2-0.4-0.2-0.6
		c0-0.2,0.1-0.4,0.3-0.6c0.2-0.2,0.3-0.2,0.6-0.2c0.2,0,0.4,0.1,0.6,0.3l0.4,0.3c0,0,0.4,0.2,1.1,0.7c0.7,0.4,1.3,0.6,1.9,0.6
		c0.5,0,1.4,0.1,2.8,0.3c1.3,0.2,2.3,0.1,2.8-0.3c0.6-0.4,1.2-0.6,2-0.7c0.8,0,1.1-0.2,1.1-0.7L28.6,29.3z M33.7,4.2
		c0-0.5,0.1-1.1,0.3-1.6l0.3,0.1c0.2,0.1,0.4,0.2,0.5,0.4C35,3.2,35,3.4,34.9,3.7c-0.1,0.3-0.2,0.4-0.4,0.5
		c-0.2,0.1-0.4,0.1-0.6,0.1L33.7,4.2z M22.3,11.6h0.8c-0.2,0.3-0.4,0.4-0.7,0.4c-0.1,0-0.2,0-0.3,0c-0.2,0-0.3-0.2-0.4-0.4H22.3z
		 M21.7,11.6c-0.1-0.2-0.1-0.4,0-0.7l0-0.1h1.7l-0.2,0.7l-0.1,0.1H21.7z M22.3,10.8h-0.6l3.6-10.2L34,2.6c-0.2,0.5-0.3,1.1-0.3,1.6
		l-7.3-1.7l-3,8.3H22.3z M29.2,25c-0.9,0-1.7-0.3-2.3-0.9c-0.6-0.6-0.9-1.4-0.9-2.2c0-0.9,0.3-1.6,0.9-2.2c0.6-0.6,1.4-0.9,2.3-0.9
		c0.9,0,1.6,0.3,2.2,0.9c0.6,0.6,0.9,1.4,0.9,2.2c0,0.9-0.3,1.6-0.9,2.2C30.8,24.7,30,25,29.2,25L29.2,25z M19.1,21.9
		c0,0.9-0.3,1.6-0.9,2.2c-0.6,0.6-1.4,0.9-2.3,0.9c-0.9,0-1.6-0.3-2.2-0.9c-0.6-0.6-0.9-1.4-0.9-2.2c0-0.9,0.3-1.6,0.9-2.2
		c0.6-0.6,1.4-0.9,2.2-0.9c0.9,0,1.6,0.3,2.3,0.9C18.8,20.3,19.1,21,19.1,21.9L19.1,21.9z M35.9,14.7c0.1-0.1,0.1-0.1,0.1-0.1
		c0,0,0.1-0.1,0.1-0.1c0.3,0.2,0.5,0.3,0.7,0.5c0.2,0.2,0.4,0.3,0.7,0.5c-0.2,0.1-0.3,0.2-0.5,0.4L35.9,14.7z M41.3,21.5
		c0.2-0.1,0.4-0.2,0.5-0.4c0.1,0.2,0.2,0.5,0.3,0.8l0.2,0.8c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1,0.1L41.3,21.5z M39.5,13.2
		c0.7,0,1.4,0.1,2,0.4c0.6,0.3,1.2,0.6,1.6,1.1c0.5,0.5,0.8,1,1.1,1.6c0.3,0.6,0.4,1.3,0.4,2c0,0.9-0.2,1.7-0.7,2.5
		c-0.4,0.8-1,1.4-1.8,1.9l-0.2-0.8l-0.3-0.8c0.4-0.3,0.7-0.8,1-1.2c0.2-0.5,0.4-1,0.4-1.5c0-1-0.3-1.8-1-2.5c-0.7-0.7-1.5-1-2.5-1
		c-0.7,0-1.4,0.2-2,0.7c-0.2-0.2-0.4-0.3-0.7-0.5c-0.2-0.2-0.5-0.3-0.7-0.5C37.2,13.7,38.3,13.2,39.5,13.2L39.5,13.2z M7.7,15.9
		c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1-0.1-0.2-0.1-0.3-0.2c0.5-0.3,0.9-0.7,1.4-0.9c0.1,0,0.2,0.1,0.3,0.2L7.7,15.9z M2.6,22.9
		c-0.1-0.1-0.2-0.1-0.3-0.2c0.1-0.3,0.1-0.6,0.2-0.8c0.1-0.3,0.2-0.5,0.3-0.8c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.1,0.3,0.2
		L2.6,22.9z M1.6,18.4c0,1,0.4,1.9,1.2,2.7c-0.1,0.2-0.2,0.5-0.3,0.8c-0.1,0.3-0.1,0.6-0.2,0.8c-0.7-0.5-1.3-1.1-1.7-1.8
		C0.2,20.1,0,19.3,0,18.4c0-0.7,0.1-1.3,0.4-2c0.3-0.6,0.6-1.2,1.1-1.6c0.5-0.5,1-0.8,1.6-1.1c0.6-0.3,1.3-0.4,2-0.4
		c1.3,0,2.4,0.4,3.4,1.3c-0.4,0.3-0.9,0.6-1.4,0.9c-0.7-0.4-1.3-0.6-2-0.6c-1,0-1.8,0.3-2.5,1C1.9,16.6,1.6,17.4,1.6,18.4L1.6,18.4z
		 M37.9,1.6c-0.7,0-1.3,0.2-1.8,0.8c-0.5,0.5-0.8,1.1-0.8,1.8s0.3,1.3,0.8,1.8c0.5,0.5,1.1,0.8,1.8,0.8c0.7,0,1.3-0.2,1.8-0.8
		c0.5-0.5,0.8-1.1,0.8-1.8s-0.3-1.3-0.8-1.8C39.2,1.9,38.6,1.6,37.9,1.6L37.9,1.6z M37.9,8.4c-1.2,0-2.1-0.4-3-1.2
		c-0.8-0.8-1.2-1.8-1.2-3l0.2,0c0.2,0.1,0.4,0,0.6-0.1c0.2-0.1,0.3-0.3,0.4-0.5c0.1-0.2,0-0.4-0.1-0.6c-0.1-0.2-0.3-0.3-0.5-0.4
		L34,2.6c0.3-0.8,0.9-1.4,1.6-1.9C36.2,0.2,37,0,37.9,0c1.2,0,2.2,0.4,3,1.2c0.8,0.8,1.2,1.8,1.2,3c0,1.2-0.4,2.1-1.2,3
		C40.1,8,39.1,8.4,37.9,8.4L37.9,8.4z M42.3,22.7c0.1,0.5,0.1,1,0.1,1.6c0,1.8-0.5,3.6-1.6,5.2c-1,1.6-2.5,3.1-4.3,4.3
		c-1.8,1.2-4,2.2-6.4,2.9c-2.4,0.7-5,1.1-7.8,1.1c-2.8,0-5.4-0.4-7.8-1.1C12.1,36,9.9,35,8.1,33.8c-1.8-1.2-3.3-2.7-4.3-4.3
		c-1-1.6-1.6-3.4-1.6-5.2c0-0.3,0-0.6,0-0.8c0-0.3,0.1-0.5,0.1-0.8c0.1,0.1,0.2,0.1,0.3,0.2l0.8-1.4c-0.1-0.1-0.2-0.1-0.3-0.2
		C3,21.2,2.9,21.1,2.8,21c0.8-2.1,2.3-4,4.3-5.6c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.1,0.3,0.2l1.1-1.1c-0.1-0.1-0.2-0.2-0.3-0.2
		c1.8-1.1,3.8-2,6-2.6c2.3-0.7,4.7-1,7.2-1.1l0,0.1c-0.1,0.2-0.1,0.4,0,0.7c-2.6,0.1-5,0.4-7.3,1.1c-2.3,0.7-4.2,1.6-5.9,2.7
		c-1.7,1.1-3,2.5-4,4c-1,1.5-1.5,3.1-1.5,4.9c0,1.8,0.5,3.4,1.5,4.9c1,1.5,2.4,2.9,4.1,4c1.7,1.2,3.8,2.1,6.1,2.7
		c2.3,0.7,4.9,1,7.5,1c2.7,0,5.2-0.3,7.5-1c2.3-0.7,4.4-1.6,6.1-2.7c1.7-1.2,3.1-2.5,4.1-4c1-1.5,1.5-3.2,1.5-4.9
		c0-1.7-0.5-3.3-1.5-4.8c-1-1.5-2.3-2.8-3.9-4c-1.7-1.1-3.6-2.1-5.9-2.7c-2.3-0.7-4.7-1.1-7.2-1.1l0.1-0.1l0.2-0.7
		c2.5,0.1,4.8,0.5,6.9,1.1c2.2,0.7,4.1,1.5,5.8,2.6c0,0.1-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.1l1.1,1.1c0.1-0.1,0.3-0.3,0.5-0.4
		c2.1,1.6,3.5,3.5,4.3,5.6c-0.2,0.2-0.3,0.3-0.5,0.4l0.8,1.4C42.1,22.8,42.1,22.8,42.3,22.7C42.2,22.8,42.2,22.8,42.3,22.7
		L42.3,22.7z M40.8,24.3c0-1.6-0.5-3.2-1.5-4.6c-1-1.5-2.3-2.7-4-3.8c-1.7-1.1-3.6-1.9-5.9-2.5c-2.3-0.6-4.6-0.9-7.2-0.9
		c-2.5,0-4.9,0.3-7.2,0.9c-2.3,0.6-4.2,1.5-5.9,2.5c-1.7,1.1-3,2.3-3.9,3.8c-1,1.5-1.5,3-1.5,4.6c0,1.6,0.5,3.2,1.5,4.6
		c1,1.4,2.3,2.7,3.9,3.8c1.7,1.1,3.6,1.9,5.9,2.5c2.3,0.6,4.6,0.9,7.2,0.9c2.5,0,4.9-0.3,7.2-0.9c2.3-0.6,4.2-1.5,5.9-2.5
		c1.7-1.1,3-2.3,4-3.8C40.3,27.4,40.8,25.9,40.8,24.3L40.8,24.3z M22.4,12c0.3,0,0.5-0.1,0.7-0.4c2.6,0.1,5,0.4,7.2,1.1
		c2.3,0.7,4.2,1.6,5.9,2.7c1.7,1.1,3,2.5,3.9,4c1,1.5,1.5,3.1,1.5,4.8c0,1.8-0.5,3.4-1.5,4.9c-1,1.5-2.4,2.9-4.1,4
		c-1.7,1.2-3.8,2.1-6.1,2.7c-2.3,0.7-4.9,1-7.5,1c-2.7,0-5.2-0.3-7.5-1c-2.3-0.7-4.4-1.6-6.1-2.7c-1.7-1.2-3.1-2.5-4.1-4
		C3.5,27.7,3,26,3,24.3c0-1.7,0.5-3.3,1.5-4.9c1-1.5,2.3-2.9,4-4c1.7-1.1,3.7-2,5.9-2.7c2.3-0.7,4.7-1,7.3-1.1
		c0.1,0.2,0.2,0.3,0.4,0.4C22.2,12,22.3,12,22.4,12L22.4,12z M37.9,6.8c-0.7,0-1.3-0.2-1.8-0.8c-0.5-0.5-0.8-1.1-0.8-1.8
		s0.3-1.3,0.8-1.8c0.5-0.5,1.1-0.8,1.8-0.8c0.7,0,1.3,0.2,1.8,0.8c0.5,0.5,0.8,1.1,0.8,1.8s-0.3,1.3-0.8,1.8
		C39.2,6.6,38.6,6.8,37.9,6.8L37.9,6.8z M41.8,21.1c-0.8-2.1-2.2-4-4.3-5.6c0.6-0.4,1.3-0.7,2-0.7c1,0,1.8,0.3,2.5,1
		c0.7,0.7,1,1.5,1,2.5c0,0.5-0.1,1-0.4,1.5C42.5,20.3,42.2,20.7,41.8,21.1L41.8,21.1z M1.6,18.4c0-1,0.3-1.8,1-2.5
		c0.7-0.7,1.5-1,2.5-1c0.7,0,1.4,0.2,2,0.6C5.1,17,3.6,18.9,2.8,21C2,20.3,1.6,19.4,1.6,18.4L1.6,18.4z M1.6,18.4"/>
</g>
</svg></i></a></li>
            
              <li><a href="http://dribbble.com/gian_michelle">Globe <i class="fa fa-globe"></i></a></li>
			  
			  
			  
			  
			  
        
              
          </ul>
		  
		  </nav>
		   <%= social_share_button_tag('hello') %>
<footer id="footer">
<section class="footer-social-icons-outer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="socia-icon-sec">
					<ul>
						<li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
						<li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
						<li><a href="javascript:;"><i class="fa icon-whats_app"></i></a></li>
						<li><a href="javascript:;"><i class="fa icon-sms-message"></i></a></li>
						<li><a href="javascript:;"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="javascript:;"><i class="fa fa-instagram"></i></a></li>
						<li><a href="javascript:;"><i class="fa fa-rss"></i></a></li>
						<li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
						<li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
						
					</ul>
				</div>
				<div class="lnag-sec">
					<select name="countries_footer" id="countries_footer">
      <option value='' data-title="Andorra">English</option>
      <option value='' data-title="Antigua and Barbuda">Français</option>
      <option value='' data-title="Anguilla">中文</option>
      
    </select>
				</div>
				<div class="info-text">
					Lorem Ipsum is simply dummy text Newsletter<div class="fa fa-info custom-tooltip-wrap">
						<div class="custom-tooltip">
							<p>your email is a person communicates and is not used by WiSEED to communicate startups. You can unsubscribe at any time by clicking the link at the bottom of each newsletter</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ft-links-sec">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-xs-12">
			<h3>About us <i class="icon-about_us"></i></h3>
				<ul class="quick-links">
					<li><a href="javascript:;">What is dalendo?</a></li>
					<li><a href="javascript:;">Who we are</a></li>
					<li><a href="javascript:;">Jobs</a></li>
					<li><a href="javascript:;">Press</a></li>
					<li><a href="javascript:;">Stats</a></li>
					<li><a href="javascript:;">Newsletters</a></li>
					<li><a href="javascript:;">Spotlight</a></li>
					<li><a href="javascript:;">Drip <label class="nw-label">New!</label></a></li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-12">
			<h3>Help <i class="icon-help"></i></h3>
				<ul class="quick-links">
					<li><a href="javascript:;">FAQ</a></li>
					<li><a href="javascript:;">Our Rules</a></li>
					<li><a href="javascript:;">Creator Handbook</a></li>
					<li><a href="javascript:;">Campus</a></li>
					<li><a href="javascript:;">Trust &#38; Safety</a></li>
					<li><a href="javascript:;">Support</a></li>
					<li><a href="javascript:;">Terms of Use</a></li>
					<li><a href="javascript:;">Privacy Policy</a></li>
					<li><a href="javascript:;">Cookie Policy</a></li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-12 double-quick-links">
			<h3>Discover <i class="icon-about_us"></i></h3>
				<ul class="quick-links">
				<li><a href="javascript:;">Art</a></li>
				<li><a href="javascript:;">Comics</a></li>
				<li><a href="javascript:;">Crafts</a></li>
				<li><a href="javascript:;">Dance</a></li>
				<li><a href="javascript:;">Design</a></li>
				<li><a href="javascript:;">Fashion</a></li>
				<li><a href="javascript:;">Film &#38; Video</a></li>
				<li><a href="javascript:;">Food</a></li>
				<li><a href="javascript:;">Games</a></li>
				<li><a href="javascript:;">Journalism</a></li>
				<li><a href="javascript:;">Music</a></li>
				<li><a href="javascript:;">Photography</a></li>
				<li><a href="javascript:;">Publishing</a></li>
				<li><a href="javascript:;">Technology</a></li>
				<li><a href="javascript:;">Theater</a></li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-12">
			<h3>Hello <i class="icon-hello"></i></h3>
				<ul class="quick-links">
					<li><a href="javascript:;">Happening</a></li>
					<li><a href="javascript:;">Company Blog</a></li>
					<li><a href="javascript:;">Engineering Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
	<!--Copyright Section-->
	<section class="cp-right">
		<div class="container">
		<div class="row">
		<div class="col-xs-12">
			<p>Copyright 2016 &#169; <a href="javascript:;">dalendo</a>. Privacy Policy</p>
			<ul class="copyright-links">
				<li><a href="javascript:;">Demo link</a></li>
				<li><a href="javascript:;">Demo link</a></li>
				<li><a href="javascript:;">Demo link</a></li>
				<li><a href="javascript:;">Demo link</a></li>
				<li><a href="javascript:;">Demo link</a></li>
				<li><a href="javascript:;">Demo link</a></li>
			</ul>
			</div>
			</div>
			</div>
			
			
			<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
			
	</section>
</footer>





<script>

$(document).ready(function() {

// responsive menu

$(".responsive_menu").click(function() {
		$(".mobile_menu").slideToggle()
	});
//responsive menu end	
	
//Owl Carousel 
				 $("#owl-demo").owlCarousel({
     
          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
		  navigation : false,
          singleItem:true
     
          // "singleItem:true" is a shortcut for:
          // items : 1, 
          // itemsDesktop : false,
          // itemsDesktopSmall : false,
          // itemsTablet: false,
          // itemsMobile : false
     
      });
	  
	  
	  
	  
	  				 $("#owl-demo2").owlCarousel({
     
          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
		  navigation : false,
          singleItem:true
     
          // "singleItem:true" is a shortcut for:
          // items : 1, 
          // itemsDesktop : false,
          // itemsDesktopSmall : false,
          // itemsTablet: false,
          // itemsMobile : false
     
      });
	  
	  			 $("#owl-demo3").owlCarousel({
     
          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
		  navigation : false,
          singleItem:true
     
          // "singleItem:true" is a shortcut for:
          // items : 1, 
          // itemsDesktop : false,
          // itemsDesktopSmall : false,
          // itemsTablet: false,
          // itemsMobile : false
     
      });
	  
//Owl Carousel end

//Back to top 

	if ($('#back-to-top').length) {
    var scrollTrigger = 100, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
    backToTop();
    $(window).on('scroll', function () {
        backToTop();
    });
    $('#back-to-top').on('click', function (e) {
        e.preventDefault();
        $('html,body').animate({
            scrollTop: 0
        }, 700);
    });
}
//Back to top  end

$(window).scroll(function() {
if ($(this).scrollTop() > 1){  
    $('header').addClass("sticky");
  }
  else{
    $('header').removeClass("sticky");
  }
});


$("#countries").msDropdown(); 

		$("#countries").msDropdown({visibleRows:4});
		$("#search_filter").msDropdown({visibleRows:4});
		$("#search_lang").msDropdown({visibleRows:4});
		$("#search_countr").msDropdown({visibleRows:4});
		$("#search_project").msDropdown({visibleRows:4});
		$("#search_shortby").msDropdown({visibleRows:4});
		$("#search_lang-create").msDropdown({visibleRows:4});
		$("#dropdown-month-wise").msDropdown({visibleRows:4});
		$("#dropdown-year-wise").msDropdown({visibleRows:4});
		$("#reward-qa-drop").msDropdown({visibleRows:4});
		
		
		
		
		
	$("#countries_lit").msDropdown().data("dd");//{animStyle:'none'} /{animStyle:'slideDown'} {animStyle:'show'}	
	$("#countries_footer").msDropdown().data("dd");	
	  $(".cmnt-list-nav li a").click(function()
	{
	
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
	});


$('.tp-banner').show().revolution(
					{
						dottedOverlay:"none",
						delay:16000,
						startwidth:1170,
						startheight:700,
						hideThumbs:200,
						
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:5,
						
						navigationType:"bullet",
						navigationArrows:"solo",
						navigationStyle:"preview4",
						
						touchenabled:"on",
						onHoverStop:"on",
						
						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,
												
												parallax:"mouse",
						parallaxBgFreeze:"on",
						parallaxLevels:[7,4,3,2,5,4,3,2,1,0],
												
						keyboardNavigation:"off",
						
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
								
						shadow:0,
						fullWidth:"off",
						fullScreen:"on",

						spinner:"spinner4",
						
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",
						
						autoHeight:"off",						
						forceFullWidth:"off",						
												
												
												
						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,						
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,
						
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,
						fullScreenOffsetContainer: ".header"	
					});
					
					
					
	
					
					





var wow = new WOW(
  {
    boxClass:     'wow',      // animated element css class (default is wow)
    animateClass: 'animated', // animation css class (default is animated)
    offset:       0,          // distance to the element when triggering the animation (default is 0)
    mobile:       true,       // trigger animations on mobile devices (default is true)
    live:         true,       // act on asynchronously loaded content (default is true)
    callback:     function(box) {
      // the callback is fired every time an animation is started
      // the argument that is passed in is the DOM node being animated
    },
    scrollContainer: null // optional scroll container selector, otherwise use window
  }
);
wow.init();

  			

 });
 

</script>



